[project]
	description = Vacuum cleaner simulator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yvonnemuelle
[access "refs/for/refs/*"]
	read = group user/yvonnemuelle
	push = group user/yvonnemuelle
	label-Code-Review = -2..+2 group user/yvonnemuelle
	label-Verified = -1..+1 group user/yvonnemuelle
	rebase = group user/yvonnemuelle
	removeReviewer = group user/yvonnemuelle
	submit = group user/yvonnemuelle
[access "refs/heads/*"]
	read = group user/yvonnemuelle
	create = group user/yvonnemuelle
	push = +force group user/yvonnemuelle
	pushMerge = group user/yvonnemuelle
[access "refs/tags/*"]
	push = group user/yvonnemuelle
	push = +force group user/yvonnemuelle
